{
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
