@import "./variables-color.scss";

.menu {
  display: none;
  // responsive all devices
  @media (max-width: 576px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    color: $first-color;
    transition: transform 0.5s;
    .bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $third-color;
      padding: 0 1rem;
      h3 {
        text-transform: uppercase;
      }
      .menu-logo {
        color: $first-color;
        font-size: 38px;
        padding: 0.5rem;
        &:hover {
          cursor: pointer;
          transition: all 0.5s;
        }
      }
    }
    .list-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      background-color: $third-color;
      transform: translateX(-100%);
      .close-menu {
        position: absolute;
        top: 95px;
        right: 65px;
        outline: 0;
        border: 0;
        font-size: 32px;
        color: $first-color;
        background-color: transparent;
        padding: 0.5rem;
        border-radius: 0.5rem;
        &:hover {
          cursor: pointer;
          transition: all 0.5s;
        }
      }

      li {
        margin-bottom: 1.5rem;
        font-size: 22px;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: $first-color;
        }
      }
    }
  }
  @media (min-width: 576.5px) and (max-width: 767.5px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    color: $first-color;
    transition: transform 0.5s;
    .bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $third-color;
      padding: 0 1rem;
      h3 {
        text-transform: uppercase;
      }
      .menu-logo {
        color: $first-color;
        font-size: 38px;
        padding: 0.5rem;
      }
    }
    .list-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      transform: translateX(-100%);
      background-color: $third-color;
      transition: transform 0.5s;
      li {
        margin-bottom: 1.5rem;
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    color: $first-color;
    transition: transform 0.5s;
    .bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $third-color;
      padding: 0 1rem;
      h3 {
        text-transform: uppercase;
      }
      .menu-logo {
        color: $first-color;
        font-size: 38px;
        padding: 0.5rem;
      }
    }
    .list-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      transform: translateX(-100%);
      background-color: $third-color;
      li {
        margin-bottom: 1.5rem;
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }
}

.name {
  color: $first-color;
  font-weight: 700;
}

.translated {
  transform: translateX(0) !important;
}
